@import "tailwindcss";

:root {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  color-scheme: dark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-slate-950 text-slate-200 selection:bg-blue-500/30;
}

#root {
  width: 100%;
}